.ios,
.md {
  page-login {
    .spacer {
      padding-bottom: 10px;
    }
    // .content {
    //   background-color: map-get($colors, grey);
    //   background-image: url('../../img/loginpage.png');
    //
    .login-inputs {
      height: 100%;
      display: block;
      vertical-align: middle;
    }

    .content {
      ion-grid {
        height: 100%;
        justify-content: center;
      }
      background-image: url("../assets/img/background_Styger.png");
      background-size: cover;
    }

    .card-background-page {
      ion-card {
        background-color: clear;
        position: absolute;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      .sign-in {
        ion-item {
          width: 60%;
          align-content: center;
        }
        font-size: 1.0em;
        position: absolute;
        top: 22%;
        width: 80%;
        padding: 5px;
      }
    }
  }
}
// .ios,
// .md {
//   $chainLight: #C3CFC6;
//   $chainDark: #182319;
//
//   page-greywater {
//     .spacer {
//       padding-bottom: 10px
//     }
//     .content {
//       background-color: $chainDark;
//     }
//
//     .statusCard-page {
//       //position: relative;
//       //text-align: center;
//       background-color: $chainLight;
//
//       ion-card {
//         position: relative;
//         text-align: center;
//       }
//
//       .card-title {
//         font-size: 4.0em;
//         width: 100%;
//         font-weight: bold;
//         color: $chainDark;
//         //background-color: $chainLight;
//       }
//     }
//
//     .controlCard-page {
//       //position: relative;
//       //text-align: center;
//       background-color: $chainLight;
//
//       ion-card {
//         position: relative;
//         text-align: center;
//       }
//
//       .card-title {
//         font-size: 4.0em;
//         width: 100%;
//         font-weight: bold;
//         color: $chainLight;
//         //background-color: $chainLight;
//       }
//     }
//
//     .testCard-page {
//       //position: relative;
//       //text-align: center;
//       background-color: $chainLight;
//
//       ion-card {
//         position: relative;
//         text-align: center;
//       }
//
//       .card-title {
//         font-size: 2.0em;
//         width: 100%;
//         font-weight: bold;
//         color: $chainDark;
//         //background-color: $chainLight;
//       }
//
//       .card-subtitle {
//         font-size: 1.0em;
//         position: absolute;
//         top: 52%;
//         width: 100%;
//         color: #fff;
//       }
//     }
//
//     .card-background-page {
//       ion-card {
//         position: relative;
//         text-align: center;
//       }
//
//       .card-title {
//         position: absolute;
//         top: 36%;
//         font-size: 4.0em;
//         width: 100%;
//         font-weight: bold;
//         color: $chainLight;
//         //background-color: $chainLight;
//       }
//
//       .card-subtitle {
//         font-size: 3.0em;
//         position: absolute;
//         top: 52%;
//         width: 100%;
//         color: $chainLight;
//         //background-color: $chainLight;
//       }
//
//       .para {
//         color: white;
//         font-size: 2.0em;
//       }
//     }
//   }
//
// }
