<ion-content padding>
  <ion-card color="primary">
    <ion-card-header>
      <h2><b><i>Control Your System</i></b></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="isReady">
        <ion-item-divider color="primary">
          Generic Commands
        </ion-item-divider>
        <button ion-item *ngFor="let gCommand of commands.Generic" (tap)="presentCertainAlert(gCommand)">
        {{ gCommand.name }}
  </button>
        <ion-item-divider color="primary">
          {{displayableSystem.title}} Commands
        </ion-item-divider>
        <button ion-item *ngFor="let sCommand of commands.SystemSpecific" (tap)="presentCertainAlert(sCommand)">
  {{ sCommand.name }}
</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="stateReady">
  <ion-toolbar color="thirdly">
    <ion-title>{{systemState}}</ion-title>
  </ion-toolbar>
</ion-footer>
