.ios,
.md {
  $chainLight: #C3CFC6;
  $chainDark: #182319;
  $chainMed: #96AF4E;

  page-water-tests-pop {

    .content {

      .spacer {
        height: 100px;
      }
      .infoCard {
        background-color: $chainLight;
      }
      .testCard {
        background-color: #FFFFFF;
      }


      ion-grid {
        height: 100%;
        justify-content: center;
      }
      background-image: url("../assets/img/background_Styger.png");
      background-size: cover;
    }
  }
}
