<ion-header>
  <ion-navbar color="thirdly">
    <ion-title>Weather</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ng-container>
<ion-card color="primary">
  <ion-card-header color="dark">
    <b>Weather Forecast</b>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="forecast_Ready">
      <ng-container *ngFor="let forecast of weather.five_Day_Forecast">
      <ion-item color="primary" (tap)="displayWeatherInformation(forecast)">
        {{forecast.day_string}}
        <ion-icon item-end name="{{weather.get_Icon_For_Main_Description(forecast.forecast_main)}}"></ion-icon>
      </ion-item>
    </ng-container>
  </ng-container>
  </ion-card-content>
</ion-card>
</ng-container>
</ion-content>
<ion-footer>
  <button ion-button full outline color="dark" (click)="close()">Back</button>
</ion-footer>
