.ios,
.md {
  $chainLight: #C3CFC6;
  $chainDark: #182319;

  zone-testing {
    h2 {
      color: $chainDark;
    }

    .content {
      background-image: url("../assets/img/background_Styger.png");
      background-size: cover;
    }

    .spacer {
      padding-bottom: 30px;
    }
  }
}
